<div class="admin-layout">
  <aside class="sidebar">
    <nav>
      <a routerLink="home" routerLinkActive="active">Trang Chủ</a>
      <a routerLink="users" routerLinkActive="active">Quản lý người dùng</a>
      <a routerLink="inventory" routerLinkActive="active">Quản lý kho hàng</a>
      <a routerLink="orders" routerLinkActive="active">Quản lý đơn hàng</a>
      <a routerLink="categories" routerLinkActive="active">Quản lý danh mục</a>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
