.product-name {
  cursor: pointer;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 1px solid #eee;
}

.card img {
  transition: transform 0.4s ease, filter 0.4s ease;
}

// .card:hover {
//   transform: translateY(-6px);
//   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
// }

.card:hover img {
  transform: scale(1.06);
  filter: brightness(1.1);
}


.p-rating-on-icon {
  color: rgb(255, 191, 0) !important;
}
