<div class="product-page container-fluid">
  <div class="row">
    <!-- LEFT SIDEBAR -->
    <aside class="col-lg-2 col-md-4 filter-sidebar">
      <div class="filter-section category">
        <h6 class="filter-title"><i class="pi pi-list mr-2"></i> Tất Cả Danh Mục</h6>
        <ul class="filter-list">
          <li class="category-main">Thời Trang Nam</li>
          <li>Áo Khoác</li>
          <li>Áo Vest và Blazer</li>
          <li>Áo Hoodie, Áo Len & Áo Nỉ</li>
          <li>Quần Jeans</li>
          <li>Quần Dài/Quần Âu</li>
          <li class="see-more" (click)="toggleCategory()">
            {{ showMoreCategory ? 'Thu gọn ▲' : 'Thêm ▼' }}
          </li>
          <ng-container *ngIf="showMoreCategory">
            <li>Áo Polo</li>
            <li>Đồ Bộ</li>
          </ng-container>
        </ul>
      </div>

      <!-- <div class="filter-section location mt-4">
        <h6 class="filter-title"><i class="pi pi-filter mr-2"></i> BỘ LỌC TÌM KIẾM</h6>
        <div class="filter-subtitle">Nơi Bán</div>
        <div class="checkbox-list">
          <div *ngFor="let city of cities">
            <input type="checkbox" [id]="city" />
            <label [for]="city">{{ city }}</label>
          </div>
          <p class="see-more" (click)="toggleLocation()">
            {{ showMoreLocation ? 'Thu gọn ▲' : 'Thêm ▼' }}
          </p>
          <div *ngIf="showMoreLocation">
            <div *ngFor="let city of moreCities">
              <input type="checkbox" [id]="city" />
              <label [for]="city">{{ city }}</label>
            </div>
          </div>
        </div>
      </div> -->
    </aside>

    <!-- RIGHT PRODUCT LIST -->
    <section class="col-lg-9 col-md-8">
      <div class="product-list container-fluid">
        <div class="mb-3" *ngIf="keyword">
          Kết quả cho: "<strong>{{ keyword }}</strong>"
        </div>
        <p-dataview #dv [value]="products" [layout]="layout">
          <!-- Header -->
          <ng-template #header>
            <div class="d-flex" style="gap: 10px">
              <p style="color: #111; margin-top: 6px">Sort by</p>
              <p-button label="Phổ biến" severity="secondary" />
              <p-button label="Mới nhất" severity="secondary" />
              <p-button label="Bán chạy" severity="secondary" />
              <p-select [options]="sortByPrice" [(ngModel)]="selectField" optionLabel="title" placeholder="Giá: "
                class="w-full md:w-56" />
            </div>
          </ng-template>

          <!-- GRID layout -->
          <ng-template #grid let-items>
            <div class="row g-4">
              @for (item of products; track $index) {
              <div class="col-12 col-sm-6 col-lg-3">
                <product-card [product]="item" [layout]="'grid'" [getSeverity]="getSeverity.bind(this)"></product-card>
              </div>
              }
            </div>
          </ng-template>
        </p-dataview>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center mt-4">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" />
    </div>
  </div>
</div>