.product-page {
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;

  .filter-sidebar {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-left: 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    height: fit-content;
    position: sticky;
    top: 100px;

    .filter-section {
      border-bottom: 1px solid #eee;
      padding-bottom: 16px;

      &:last-child {
        border-bottom: none;
      }

      .filter-title {
        font-weight: 600;
        color: #111;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 12px;

        i {
          font-size: 14px;
          color: #666;
        }
      }

      .filter-subtitle {
        font-weight: 600;
        color: #333;
        margin-bottom: 8px;
      }

      .filter-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
          padding: 5px 0;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          transition: color 0.2s;

          &.category-main {
            color: #171717;
            font-weight: 600;
          }

          &:hover {
            color: #686868;
          }

          &.see-more {
            color: #777;
            font-size: 13px;
          }
        }
      }

      .checkbox-list {
        input[type="checkbox"] {
          margin-right: 8px;
          accent-color: #ee4d2d;
        }

        label {
          font-size: 14px;
          color: #333;
        }

        .see-more {
          color: #777;
          font-size: 13px;
          cursor: pointer;
          margin-top: 5px;
        }
      }
    }
  }



  /* Responsive */
  @media (max-width: 992px) {
    .filter-sidebar {
      display: none;
    }
  }
}

.p-dataview .p-dataview-header {
  background-color: #fff !important;
  height: 82px !important;
}


.p-ripple.p-component.p-togglebutton {
  background-color: #fff !important;
  border: none !important;
  color: #bbb !important;
}

.p-ripple.p-component.p-togglebutton.p-togglebutton-checked .p-togglebutton-content {
  background-color: #f1f4f7 !important;
}

.product-list,
.product-list .p-dataview,
.product-list .p-dataview .p-dataview-content,
.p-dataview,
.p-dataview .p-dataview-content {
  background-color: #f1f4f7 !important;
  color: #111 !important;
  font-family: "Poppins", sans-serif !important;
}

.p-button {
  background-color: #f1f4f7;
  border: none;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.p-select {
  background-color: #f1f4f7 !important;
  border: none;
  height: 36px;
  .p-select-label {
    color: #111;
  }
}

.p-select-overlay {
  border: none;
  .p-select-list-container {
      background-color: #f1f4f7;

      .p-select-list {
        background-color: #f1f4f7;
        border: none;

        .p-select-option {
          color: #111;
        }
        .p-select-option:hover{
          background-color: #111;
          color: #f1f4f7;
        }
        .p-select-option-selected{
          background-color: #ffb700;
          color: #111;
        }
      }
    }
}

.p-paginator {
  background-color: #f1f4f7;
  padding: 0;
  border: none;

  button {
    color: #111;
  }
  .p-paginator-page-selected {
    background-color: #ffb700;
    color: #111;
  }
}

