name: Build and Deploy Angular 20 SSR to Azure

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Show Angular version
        run: npx ng version

      - name: Build Angular SSR
        run: npm run build
        # nếu bạn đổi script thành build:ssr → sửa thành:
        # run: npm run build:ssr

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-folder
          path: |
            dist/
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist-folder

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F6873CC1965D4890ABC4C023D42D45E7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9B7B6C3ED8F44DD5B9A8C5E486A265C6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B90F9D3EE9914C28AA4CC13E6774CBD2 }}
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'grocery-ecommerce'
          slot-name: 'Production'
          package: .


